.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="") Angular
      li
        a(href="") react
      li
        a(href="") Vue
      li
        a(href="") Python
      li
        a(href="") Node.js
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章